.form {
   display: flex;
   flex-direction: column;
   gap: 16px;
   max-width: 400px;
   margin: 0 auto;
}
.label {
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.field {
   display: flex;
   flex-direction: column;
   gap: 8px;
   align-items: start;
   input {
      align-self: stretch;
   }
}
